<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>anal</string>
		<key>shortcut</key>
		<string>anal</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>anally</string>
		<key>shortcut</key>
		<string>anally</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>anus</string>
		<key>shortcut</key>
		<string>anus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>anuses</string>
		<key>shortcut</key>
		<string>anuses</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>arse</string>
		<key>shortcut</key>
		<string>arse</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>arses</string>
		<key>shortcut</key>
		<string>arses</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ass</string>
		<key>shortcut</key>
		<string>ass</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>assed</string>
		<key>shortcut</key>
		<string>assed</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>asses</string>
		<key>shortcut</key>
		<string>asses</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>assfucker</string>
		<key>shortcut</key>
		<string>assfucker</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>assfuckers</string>
		<key>shortcut</key>
		<string>assfuckers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>asshole</string>
		<key>shortcut</key>
		<string>asshole</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>assholes</string>
		<key>shortcut</key>
		<string>assholes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>assmuncher</string>
		<key>shortcut</key>
		<string>assmuncher</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>assmunchers</string>
		<key>shortcut</key>
		<string>assmunchers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ballsack</string>
		<key>shortcut</key>
		<string>ballsack</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bastard</string>
		<key>shortcut</key>
		<string>bastard</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bastards</string>
		<key>shortcut</key>
		<string>bastards</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bdsm</string>
		<key>shortcut</key>
		<string>bdsm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bitch</string>
		<key>shortcut</key>
		<string>bitch</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bitches</string>
		<key>shortcut</key>
		<string>bitches</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bitchy</string>
		<key>shortcut</key>
		<string>bitchy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bitties</string>
		<key>shortcut</key>
		<string>bitties</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>blowjob</string>
		<key>shortcut</key>
		<string>blowjob</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>blowjobs</string>
		<key>shortcut</key>
		<string>blowjobs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>blumpkin</string>
		<key>shortcut</key>
		<string>blumpkin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bollocks</string>
		<key>shortcut</key>
		<string>bollocks</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>boner</string>
		<key>shortcut</key>
		<string>boner</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>boners</string>
		<key>shortcut</key>
		<string>boners</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>boob</string>
		<key>shortcut</key>
		<string>boob</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>boobs</string>
		<key>shortcut</key>
		<string>boobs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bullshit</string>
		<key>shortcut</key>
		<string>bullshit</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>butthole</string>
		<key>shortcut</key>
		<string>butthole</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cock</string>
		<key>shortcut</key>
		<string>cock</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cockbag</string>
		<key>shortcut</key>
		<string>cockbag</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cockbags</string>
		<key>shortcut</key>
		<string>cockbags</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cockfoam</string>
		<key>shortcut</key>
		<string>cockfoam</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cockmonger</string>
		<key>shortcut</key>
		<string>cockmonger</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cockmongers</string>
		<key>shortcut</key>
		<string>cockmongers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cocks</string>
		<key>shortcut</key>
		<string>cocks</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cocksucker</string>
		<key>shortcut</key>
		<string>cocksucker</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cocksuckers</string>
		<key>shortcut</key>
		<string>cocksuckers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cocksucking</string>
		<key>shortcut</key>
		<string>cocksucking</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cockwomble</string>
		<key>shortcut</key>
		<string>cockwomble</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cockwombles</string>
		<key>shortcut</key>
		<string>cockwombles</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>crap</string>
		<key>shortcut</key>
		<string>crap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>crappy</string>
		<key>shortcut</key>
		<string>crappy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>craptastic</string>
		<key>shortcut</key>
		<string>craptastic</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cunnilingus</string>
		<key>shortcut</key>
		<string>cunnilingus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cunt</string>
		<key>shortcut</key>
		<string>cunt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cunts</string>
		<key>shortcut</key>
		<string>cunts</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dammit</string>
		<key>shortcut</key>
		<string>dammit</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>damn</string>
		<key>shortcut</key>
		<string>damn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dick</string>
		<key>shortcut</key>
		<string>dick</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dickall</string>
		<key>shortcut</key>
		<string>dickall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dickhole</string>
		<key>shortcut</key>
		<string>dickhole</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dicks</string>
		<key>shortcut</key>
		<string>dicks</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dildo</string>
		<key>shortcut</key>
		<string>dildo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dildos</string>
		<key>shortcut</key>
		<string>dildos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dumbass</string>
		<key>shortcut</key>
		<string>dumbass</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dumbasses</string>
		<key>shortcut</key>
		<string>dumbasses</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dyke</string>
		<key>shortcut</key>
		<string>dyke</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dykes</string>
		<key>shortcut</key>
		<string>dykes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fag</string>
		<key>shortcut</key>
		<string>fag</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>faggot</string>
		<key>shortcut</key>
		<string>faggot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>faggots</string>
		<key>shortcut</key>
		<string>faggots</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fags</string>
		<key>shortcut</key>
		<string>fags</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fuck</string>
		<key>shortcut</key>
		<string>fuck</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fucked</string>
		<key>shortcut</key>
		<string>fucked</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fucker</string>
		<key>shortcut</key>
		<string>fucker</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fucking</string>
		<key>shortcut</key>
		<string>fucking</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fucks</string>
		<key>shortcut</key>
		<string>fucks</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fudgepacker</string>
		<key>shortcut</key>
		<string>fudgepacker</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fudgepackers</string>
		<key>shortcut</key>
		<string>fudgepackers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ho</string>
		<key>shortcut</key>
		<string>ho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>horseshit</string>
		<key>shortcut</key>
		<string>horseshit</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hos</string>
		<key>shortcut</key>
		<string>hos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jackass</string>
		<key>shortcut</key>
		<string>jackass</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jackasses</string>
		<key>shortcut</key>
		<string>jackasses</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jism</string>
		<key>shortcut</key>
		<string>jism</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jizz</string>
		<key>shortcut</key>
		<string>jizz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>knockers</string>
		<key>shortcut</key>
		<string>knockers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>motherfucker</string>
		<key>shortcut</key>
		<string>motherfucker</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>motherfuckers</string>
		<key>shortcut</key>
		<string>motherfuckers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>motherfucking</string>
		<key>shortcut</key>
		<string>motherfucking</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>muff</string>
		<key>shortcut</key>
		<string>muff</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>penis</string>
		<key>shortcut</key>
		<string>penis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pussies</string>
		<key>shortcut</key>
		<string>pussies</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pussy</string>
		<key>shortcut</key>
		<string>pussy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>queef</string>
		<key>shortcut</key>
		<string>queef</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>scrote</string>
		<key>shortcut</key>
		<string>scrote</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>shart</string>
		<key>shortcut</key>
		<string>shart</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sharted</string>
		<key>shortcut</key>
		<string>sharted</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>shat</string>
		<key>shortcut</key>
		<string>shat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>shit</string>
		<key>shortcut</key>
		<string>shit</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>shits</string>
		<key>shortcut</key>
		<string>shits</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>shitter</string>
		<key>shortcut</key>
		<string>shitter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>shitty</string>
		<key>shortcut</key>
		<string>shitty</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>skeet</string>
		<key>shortcut</key>
		<string>skeet</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>splooge</string>
		<key>shortcut</key>
		<string>splooge</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thot</string>
		<key>shortcut</key>
		<string>thot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tig</string>
		<key>shortcut</key>
		<string>tig</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tit</string>
		<key>shortcut</key>
		<string>tit</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tits</string>
		<key>shortcut</key>
		<string>tits</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>titties</string>
		<key>shortcut</key>
		<string>titties</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>titty</string>
		<key>shortcut</key>
		<string>titty</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>turd</string>
		<key>shortcut</key>
		<string>turd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>turds</string>
		<key>shortcut</key>
		<string>turds</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>twat</string>
		<key>shortcut</key>
		<string>twat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>twats</string>
		<key>shortcut</key>
		<string>twats</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>twunt</string>
		<key>shortcut</key>
		<string>twunt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>twunts</string>
		<key>shortcut</key>
		<string>twunts</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>wanker</string>
		<key>shortcut</key>
		<string>wanker</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>wankers</string>
		<key>shortcut</key>
		<string>wankers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>weeb</string>
		<key>shortcut</key>
		<string>weeb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>weebs</string>
		<key>shortcut</key>
		<string>weebs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>whore</string>
		<key>shortcut</key>
		<string>whore</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>whores</string>
		<key>shortcut</key>
		<string>whores</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>whorish</string>
		<key>shortcut</key>
		<string>whorish</string>
	</dict>
</array>
</plist>
